body{
    background-color:cornflowerblue ;
    display:flex;
}
.left{
    margin-left: 20px;
    color: white;
    font-size: xxx-large;
    width: 35%;
    font-family: system-ui;
}
.right{
    color: white;
    margin-left: 37%;
    width: 100%;
    font-size: xx-large;

}
